.Form_body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}
.Form_main{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Form_body_img{
    width: 55%;
    border-radius: 10px;
}
.Form_body_img img{
    width: 75%;
    height: 100%;
    border-radius: 10px;
}
.Form_body_Feilds{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.Form_body_Feilds label {
    margin-bottom: 10px;
    margin-right: auto;
    color:#333;
    font-weight: bold;
    padding-left: 15px;
  }
  .Form_body_Feilds input {
    text-decoration: none;
    width: 100%;
    border: 0.12px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  #submit_btn {
    outline: none;
    border: none;
    text-decoration: none;
    padding: 8px;
    align-items: center;
    background: #00c476;
    width: 20vw;
    font-family: "Roboto Slab", serif;
    border-radius: 15px;
    transition: all 1s ease-in-out;
    color: white;
  }
  #submit_btn:hover {
    background-color: white;
    color: #333;
    border: 0.5px solid #333;
  }
  #form_usernumber {
    background-size: 15px;
    padding-left: 25px;
  }

@media screen and (max-width:660px) {
  .Form_body{
    flex-direction: column;
  }
  .Form_body_img{
    width: 100%;
    padding: 15px;
}
  .Form_body_img img{
    width: 100%;
}
.Form_body_Feilds{
  width: 100%;
}
}